<div id="refund-table">

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Refunds' } %}

        {% block widget_content %}

            {{ refundTable | raw }}

            <div id="refundButtons">
                <a href="/refund/custom/create?id-sales-order={{ idSalesOrder }}" class="btn btn-sm btn-warning">
                    Create Custom Refund
                </a>
            </div>

        {% endblock %}

    {% endembed %}

</div>
